body {
    font-size: 100%;
    background-color: #FF8C1A;
}

#footer p {
    color: #FFFFFF;
    font-size: 2.5vw;
    bottom: 10%;
    opacity: 100;
    transition: opacity .5s;
}

#buzz {
    color: #FFFFFF;
    font-size: 10vw;
    position: fixed;
    top: 15%;
    left: 30%;
    opacity: 100;
    transition: left 1s, opacity .8s;
}
#words {
    color: #000000;
    font-size: 10vw;
    position: fixed;
    top: 30%;
    left: 45%;
    opacity: 100;
    transition: left 1s, opacity .8s;
}

.slideRight {
    left: 60% !important;
    opacity: 0 !important;
}
.slideLeft {
    left: 15% !important;
    opacity: 0 !important;
}
.hidden {
    opacity: 0 !important;
}

#waiting-elements, #game-elements, #answer-elements, #footer p {
    text-align: center;
    position: fixed;
    width: 100%;
}

#intro {
    font-size: 6vw;
    top: 40%;
    opacity: 100;
    transition: opacity 2s;
}

#waiting-elements p {
    font-size: 4vw;
    top: 70%;
    opacity: 100;
    transition: opacity 2s;
    color: #FFFFFF;
}

#big-letter {
    font-size: 12vw;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 4vh;
    opacity: 100;
    transition: opacity 2s;
}

#category {
    font-size: 7vw;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 70%;
    opacity: 100;
    transition: opacity 2s;
    color: #FFFFFF;
}

#answer-elements {
    top: 50%;
}

#possibleAnswers {
    font-size: 3vw;
    top: 170px;
}

#answerList {
    font-size: 4vw;
    top: 300px;
    color: #FFFFFF;
}