body {
    background-color: #FF8C1A;
}

#buzz {
    color: #FFFFFF;
    font-size: 7em;
    position: fixed;
    top: 40%;
    left: 45%;
    opacity: 100;
    transition: left 1s, opacity .8s;
}
#words {
    color: #000000;
    font-size: 7em;
    position: fixed;
    top: 60%;
    left: 55%;
    opacity: 100;
    transition: left 1s, opacity .8s;
}

.slideRight {
    left: 70% !important;
    opacity: 0 !important;
}
.slideLeft {
    left: 30% !important;
    opacity: 0 !important;
}